<% provide(:title, 'Contact Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>
      
    </p>
  </body>
</html>