<% provide(:title, 'All books') %>
<h1>All books</h1>

<%= will_paginate %>

<ul class="users">
  <% @books.each do |book| %>
     <li>
      
      <%= link_to book.title, book %>
    </li>

  <% end %>
</ul>

<%= will_paginate %>